.connect-with-us-container {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  min-height: 100vh;
  position: relative;
  overflow: hidden;
}

.whiteBg {
  background: url("../pageSection/assets/whiteBg.png");
  color: black;
}

.container-mask {
  position: absolute;
  min-height: 100vh;
  background: #000000;
  top: 0;
  left: 0px;
  width: 100%;
  transform-origin: left;
  transform: skew(0, -7deg);
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.connect-with-us-content {
  transform: skew(0, 7deg);
  width: 40%;
  margin: 0 5rem;
  color: white;
  font-family: "Roboto", sans-serif;
  font-weight: bolder;
  margin-top: 9rem;
}

.connect-with-us-content > div {
  margin: 2rem 0;
}

.connect-with-us-content h1 {
  font-weight: lighter;
  font-size: 3rem;
}

.container-mask .content {
  border: 1px solid rgb(158, 151, 151);
  padding: 2rem 1rem;
}

.container-mask .content h3 {
  margin-bottom: 1rem;
  font-weight: lighter;
}

.container-mask .content .message {
  margin-bottom: 0.5rem;
}

.container-mask .content .message input{
  width: 100%;
  padding: 8px;
  outline: none;
  letter-spacing: 1px;
  background: transparent;
  height: 2rem;
  border: 1px solid rgb(158, 151, 151);
  color: white;
  font-size: 0.95rem;
}

.container-mask .content .message textarea {
  width: 100%;
  padding: 8px;
  outline: none;
  letter-spacing: 1px;
  height: 100px;
  resize: none;
  background: transparent;
  border: 1px solid rgb(158, 151, 151);
  color: white;
  font-family: "Roboto", sans-serif;
  font-size: 0.95rem;
}

.btn-container {
  display: flex;
  justify-content: flex-end;
}

.mail-btn {
  color: #000000;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row-reverse;
  background: white;
  border: none;
  padding: 6px 8px;
  font-size: 1rem;
  cursor: pointer;
  border-radius: 25px;
  min-width: 81px;
  min-height: 38px;
}

.mail-btn span {
  display: flex;
  justify-content: center;
  align-items: center;
}

.mail-btn.muted{
  cursor: not-allowed;
  background: rgb(218, 217, 217);
}

.mail-btn span img {
  width: 25px;
  height: 25px;
  margin-right: 5px;
  border-radius: 50%;
}

@media screen and (max-width: 1150px) {
  .connect-with-us-content {
    width: 60%;
  }
}

@media screen and (max-width: 800px) {
  .container-mask {
    justify-content: center;
  }
  .connect-with-us-content {
    width: 80%;
    margin: 0;
  }
}

@media screen and (max-width: 600px) {
  .container-mask {
    width: 100%;
  }
  .connect-with-us-content h1 {
    font-size: 2rem;
  }
  .container-mask{
     transform: skew(0, -15deg);
  }
  .connect-with-us-content{
     transform: skew(0, 15deg);

  }
}