.video-player-container{
    display: flex;
    justify-content: center;
    align-items: flex-end;
    width: 100%;
    height: 100vh;
    background: black;
    overflow: hidden;
}

.video-player-container > div{
    margin-bottom: 1rem;
}

.video-player-container iframe{
    border: 1px solid white;
}
