.modal-background {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(20, 14, 14, 0.4);
  font-family: "Roboto", sans-serif;
  transition: all 1s ease;
  border-radius: 50%;
  transform: scale(0);
  width: 0;
}

.modal-background.pop-up-smooth{
  transform: scale(1);
  border-radius: 0;
  width: 100%;
  color: white;
}

.modal-container {
  width: 60%;
  height: 65vh;
  min-height: 65vh;
  background-image: url("./assets/BG_DARK.png");
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;
  transform: scale(0);
  transition: all 0.8s ease;
}

.modal-background.pop-up-smooth .modal-container{
  transform: scale(1);
}

.modal-details h2{
  font-family: "Roboto", sans-serif;
  font-weight: lighter;
  font-size: 2rem;
  line-height: 2.5rem;
}

.title-close-btn{
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 15px;
  right: 15px;
}

.title-close-btn button{
  padding: 5px;
  font-size: 1rem;
  cursor: pointer;
  background: rgba(20, 14, 14, 0.4);
  border: 1px solid white;
  border-radius: 50%;
  height: 30px;
  width: 30px;
  color: white;
  transition: all 0.3s ease;
}

.title-close-btn button:hover{
  background: white;
  color: black;
}

.modal-details{
  width: 80%;
  margin-bottom: 3rem;
}

.modal-register-button button{
  background: transparent;
  color: white;
  width: 160px;
  min-width: 160px;
  height: 50px;
  border: 1px solid white;
  transform: scale(0);
  transition: all 1s ease-out;
  font-size: 1rem;
}

.modal-background.pop-up-smooth .modal-register-button button{
  transform: scale(1);
}

@media screen and (max-width:800px) {
  .modal-details h2{
  font-size: 1.5rem;
}
}

@media screen and (max-width:600px) {
  .modal-details h2{
    font-size: 1.2rem;
  }
  .modal-container{
    width: 80%;
  }
  .modal-details{
    margin-bottom: 1.5rem;
  }
}